//COLORS

//Primary

$Blue: hsl(246, 80%, 60%);

$Light-red-work: hsl(15, 100%, 70%);
$Soft-blue-play: hsl(195, 74%, 62%);
$Light-red-study: hsl(348, 100%, 68%);
$Lime-green-exercise: hsl(145, 58%, 55%);
$Violet-social: hsl(264, 64%, 52%);
$Soft-orange-self-care: hsl(43, 84%, 65%);

//Secondary

$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-blue: hsl(236, 100%, 87%);
$White: hsl(0,0%,100%);

//FONT

$font: 'Rubik';

//MEDIA QUERIES

$mobile: 37.5rem;

//FONT SIZE

$font-size-1: 1rem;
$font-size-2: 1.5rem;
$font-size-3: 2.5rem;
$font-size-4: 4.3rem;

$font-size-mobile-1: 1.6rem;
$font-size-mobile-2: 2.2rem;
$font-size-mobile-3: 3.2rem;
$font-size-mobile-4: 4.1rem;

//GAP INFO

$gap-sections: 1.5rem;
$gap-sections-mobile: 2.5rem;

$gap-1: 1rem;
$gap-2: 2.5rem;
$gap-3: 5rem;

$gap-mobile: 1.5rem;


//MARGINS

$m-chart: 1.5rem;

//PADDINGS

$p-x-container: 1.5rem;
$p-y-container: 2.5rem;

$p-x-mobile-container: 3rem;
$p-y-mobile-container: 4rem;

//BORDER RADIUS

$br-1: 1rem;
$br-2: 3.5rem;